DATABASE_URL=
DIRECT_URL=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_NAME=
DEMO_PASSWORD=
NEXTAUTH_SECRET=
PAYMOB_API_URL=https://accept.paymob.com
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID_EGP=
PAYMOB_IFRAME_ID_EGP=
PAYMOB_HMAC_SECRET=
USD_GATEWAY_API_KEY=
USD_GATEWAY_WEBHOOK_SECRET=
